<pre>
<center>
<h1>New Employee Form</h1>

 {{msg}}

<hr/>
<form action="InsertEmp" method="post">

Eid    <input type="text" name="eid" />

Name   <input type="text" name="ename" />

Salary <input type="text" name="salary" />


<input type="submit" value="Save" />
</form>

<a href="/">Go to Login </a>

</center>
</pre>
